{% extends 'base.html.twig' %}

{% block title %}Liste haie
{% endblock %}

{% block body %}


	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
			<h1 class="h2">Les types de haies</h1>
			<div class="btn-toolbar mb-2 mb-md-0"></div>
		</div>

		<div class="container">
			<div class="row align-items-start">
				{% for haie in haies %}
					<div class="col-3 mt-4">
						<!-- Sign up form -->
						<!-- Sign up card -->
							<div class="card person-card"> <div
								class="card-body">
								<!-- Sex image -->
								<img id="img_sex" class="person-img" src="{{ asset("images/admin/haie.png") }}">
								<h3 id="who_message" class="card-title">{{ haie.nom|u.truncate(9) }}</h3>
								<!-- First row (on medium screen) -->
								<p id="who_message" class="card-title">{{ haie.prix|format_currency('EUR') }}</p>
							</div>

							<div class="container">
								<div class="row justify-content-md-center">
									<div class="col-3">
										<a href="{{ path('app_modifier_haie', { 'id': haie.id }) }}">
											<img type="image" width="30" height="30" alt="Modification" src="{{ asset("images/admin/edit.png") }}">
										</a>
									</div>
									<div class="col-3">
										<a href="{{ path('app_suppression_haie', { 'id': haie.id }) }}">
											<img type="image" width="30" height="30" alt="Suppression" src="{{ asset("images/admin/suprimee.webp") }}">
										</a>
									</div>
								</div>
							</div>
							<br/>
						</div>
					</div>


				{% endfor %}
			</div>
		</div>

	</div>

</main></div></div>{% endblock %}
